<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->


<div class="page" ng-if="page == '0'">
  <p>With the advent of technology such as WebRTC, real-time communications are moving to the open Internet. This
    disruptive change will leads to the emergence of several new, unknown and even invisible actors participating in the
    establishment of a call session. For an end-user, trust in the system becomes blurred and difficult to
    understand.</p>

  <p>We propose a method for modeling and computing the trust that an end-user (or a policy authority) could have in a
    given online communication setup. To this end, we build a user-centric functional decomposition of security
    properties
    and protocols from a communication setup. We use information-theory entropy as a base trust metric and compute
    a global trust value with aggregation operators. This end-value is then returned to the user. </p>

  <p>This survey will be used to evaluate the interest, usefulness, and clarity of our model as a security knowledge
    representation. </p>

  <p>The first half of the survey is dedicated to your current understanding and point-of-view on security issues on the web
    and more precisely related to real time communications. The second half of the survey presents our framework, let
    you play with it on concrete examples, before a series of questions regarding your perception of the way our model
    represents information.
  </p>

  <p>The survey should not take more than ... minutes to complete.</p>

  <p>Thank you for taking some time helping us!</p>
</div>


<div class="page" ng-if="page == '2'">
  <legend>Scenario 1 - Weak certificate chain</legend>

  <p>A certificate chain is an ordered hierarchy of digital certificates. In the chain, each certificates is signed by
    a higher level certificate. The top-level certificate is provided by a root certificate authority. This mechanism
    of trust propagation, allows an individuals to verify the validity of a certificate without direct trust in the
    certificate's issuer.</p>

  <p>In practice, root certificates are pre-loaded by browser vendors. When verifying a certificate provided by a web-server,
  a web-browser must verify the validity of the whole certificate chain.</p>

  <p>The Secure Hash Algorithm (SHA) family is often used to sign certificates. SHA-1 is now deemed unsecure and is
  gradually withdrawn from use by Certificate Authority as well as browser vendors.</p>

  <p><img src='https://lh3.googleusercontent.com/T35UbRY1C47abRu2CJgv5DXIr9iphMJ8XFcBr5hkX3Zwx0fCJAQCWMyG6_7G_12Jp-xJZw'
          width="60%" style='display:block; margin: 0 auto;'></p>

  <p>The above figure represents a certificate chain containing a weak certificate using SHA-1. Arrows represent trust
  relations, i.e. the Browser trusts the Root CA, which in turn trusts the CA. This last CA trust the Web Site owner
  (as to be the owner of the domain). This allows, in theory, the browser to establish a transitive trust relationship
  to the actual web server.</p>
  <br>
</div>

<div class="page" ng-if="page == '3'">
  <legend>Scenario 2 - Transport Layer Security</legend>

  <p>Transport Layer Security (TLS) is a cryptographic protocols used to ensure communications security over various
  applications.</p>

  <p>Communications security includes properties of privacy, authentication and integrity.
    In TLS privacy is provided by symmetric cryptography (e.g. with AES), authentication by public
    key cryptography (e.g. with RSA), and data integrity with Message Authentication Code (for instance with HMAC-SHA-1).</p>
</div>

<div class="page" ng-if="page == '4'">
  <legend>Scenario 3 - Audio-Video communications</legend>

  <p>WebRTC is a draft API developped by the W3C for browser-to-browser communications. It allows for usages such as
    voice call, video call, and file sharing. As an API provided by web-browser it doesn't require third-party plugins
    and could be deployed by any web server.</p>

  <p>WebRTC establishes a communication between two web-browsers in a peer-to-peer fashion but still requires signalling
    messages to be exchanged by participant through one or more Communication Service Providers (CSP). However, the
    draft does not require the user to trust the CSP in order to establish a secure communication.</p>

  <p>The draft also specifies a way for call-participants to exchange identity assertion provided by a third-party
  Identity Provider. i.e. authenticate to the other user through an IdP independant from the CSP.</p>

  <p>We would like to compare the trust you may have in current real-time communication scenario with the trust you
  would have in different WebRTC scenarios.</p>
</div>

<div class="page" ng-if="page == '5'">
  Model
</div>

  <div ng-if="page == '6'">
    <legend>Model 1 - Transport Layer Security decomposition</legend>

    <div class="col-md-4" ng-controller="ModelFormController">
      <form name="modelControl">
        <label>
          <input type="radio" ng-model="tlschoice.name" value="rsa2048aes256sha256" ng-change="onTLSModelChange()">
          TLS with RSA2048-AES256-SHA256
        </label>
        <ul>
          <li>You estimated this configuration at trust {{rsa2048aes256sha256}}</li>
          <li>Our model computes it as trust 1</li>
        </ul>
        <label>
          <input type="radio" ng-model="tlschoice.name" value="rsa2048aes256sha1" ng-change="onTLSModelChange()">
          TLS with RSA2048-AES256-SHA1
        </label>
        <ul>
          <li>You estimated this configuration at trust {{rsa2048aes256sha1}}</li>
          <li>Our model computes it as trust 0</li>
        </ul>
        <label>
          <input type="radio" ng-model="tlschoice.name" value="rsa1024aes256sha256" ng-change="onTLSModelChange()">
          TLS with RSA1024-AES256-SHA256
        </label>
        <ul>
          <li>You estimated this configuration at trust {{rsa1024aes256sha256}}</li>
          <li>Our model computes it as trust 0</li>
        </ul>
      </form>
      <br/>
      <div class="modelDescription"  ng-if="displayModelTip()">
        {{modelTip}}
      </div>
    </div>
  </div>



  <div ng-if="page == '7'" >
    <legend>Model 2 - WebRTC Communication Setup decomposition</legend>
    <div class="col-md-4" ng-controller="ModelFormController">
      <form  name="modelControl">
        <label>
          <input type="radio" ng-model="trustChoice.name" value="all" ng-change="onTrustModelChange()">
          A WebRTC conversation
        </label>
        <ul>
          <li>You estimated this configuration at trust {{webRTC}}</li>
        </ul>
        <label>
          <input type="radio" ng-model="trustChoice.name" value="nocsp" ng-change="onTrustModelChange()">
          A WebRTC conversation with a trusted IdP
        </label>
        <ul>
          <li>You estimated this configuration at trust {{webRTCwtID}}</li>
        </ul>
        <label>
          <input type="radio" ng-model="trustChoice.name" value="noidp" ng-change="onTrustModelChange()">
          A WebRTC conversation with an untrusted IdP
        </label>
        <ul>
          <li>You estimated this configuration at trust {{webRTCwutID}}</li>
        </ul>
      </form>
      <br/>
      <div class="modelDescription" ng-if="displayModelTip()">
        {{modelTip}}
      </div>

    </div>
  </div>

  <div class="viz col-md-8" id="viz-div"></div>

<div class="page" ng-if="page == 'thanks'">
  Thanks
</div>

<div ng-controller="FormController" class="col-md-12" ng-if="page != 'thanks'">
  <form name="myForm"
        sf-schema="schema"
        sf-form="form"
        sf-model="model"
        ng-submit="onSubmit()"></form>


  {{variable}}
</div>

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->
